<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508266637437-h6o2q9l168ksfh8rli4mfe4gngerbt02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508266637437-h6o2q9l168ksfh8rli4mfe4gngerbt02</string>
	<key>API_KEY</key>
	<string>AIzaSyCbdKxMSQYZzVrO8ikkMnNNgdYC71Bizok</string>
	<key>GCM_SENDER_ID</key>
	<string>508266637437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.develop</string>
	<key>PROJECT_ID</key>
	<string>aja-aja-app</string>
	<key>STORAGE_BUCKET</key>
	<string>aja-aja-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508266637437:ios:611508e9e297565b22e914</string>
</dict>
</plist>